function git_info() {
	BRANCH=`git branch 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \(.*\)/\1/'`
	if [ ! "${BRANCH}" == "" ]
	then
		echo " [${BRANCH}] "
	else
		echo " "
	fi
}
# Create a new directory and enter it
function mkcd() {
	mkdir -p "$@" && cd "$_";
}
function e() {
    [ -f "$@" ] && cat "$@" | pbcopy || echo "$@" | pbcopy
}
