function git_info() {
	BRANCH=`git branch 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \(.*\)/\1/'`
	if [ ! "${BRANCH}" == "" ]
	then
		echo " [${BRANCH}] "
	else
		echo " "
	fi
}
# Create a new directory and enter it
function mkcd() {
    # Make a directory and cd into it
	mkdir -p "$@" && cd "$_";
}
function e() {
    # If file name is the argument, then copy its contents to clipboard
    # If text is given, then copy the entire text to clipboard
    [ -f "$@" ] && cat "$@" | pbcopy || echo "$@" | pbcopy
}
